*{
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0%;
    font-weight: 550;
    letter-spacing: 1.1px;
    
} /*Default settings for the entire website*/


h1 {
  font-size: 40px;
  color: #ADEFD1FF;
} /*font size and colour for headings and paragraph*/

h2 {
  font-size: 30px;
  color: #ADEFD1FF;
} /*font size and colour for headings and paragraph*/

h3{
    font-size: 25px;
    color: #ADEFD1FF;
} /*font size and colour for headings and paragraph*/

p {
  font-size: 17px;
} /*font size and colour for headings and paragraph*/

body{
    background: #343148FF;
    font-weight: 500;
    margin: 0%;
} /*Background colour and font weight of the website*/

.heading{
    background-color: #343148FF;
    text-align: center;
    margin: 0%;
} /*CSS for the header of the website*/

#image{
    float: right;
    padding: 40px ;
} /*CSS for my profile picture*/

.firstsection{
    text-align: left;
    text-align: justify;
    padding: 15px;
} /*CSS for first section of the website which includes title,description and about me*/

.secondsection{
    text-align: center;
    padding: 30px;
    border: 5px solid black;
    margin: 10px;
    margin-bottom: 20px;
} /*CSS for second section of the website which is about education*/

.thirdsection{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 45px;
    padding-bottom: 45px;
    overflow: auto;   
    border: 5px solid black;
} /*CSS for third section of the website which is about skillsets*/

#h2thirdsection{
    float: left;
    padding: 30px;
    padding-top: 75px;
    padding-left: 40px;
    font-size: 100px;
} /*h2 heading CSS for third section(skillsets)*/

#ulthirdsection{
    float: right;
    padding-bottom: 30px;
    padding-right: 90px;
    line-height: 28px;
} /*ul CSS for third section(skillsets)*/

.fourthsection{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding:30px;
    border: 5px solid black;
    text-align: center;
} /*CSS for fourth section which is my reflection*/

