*{
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0%;
    font-weight: 550;
    letter-spacing: 1.1px;
    
} /*Default settings for the website*/


/*font size and colour for headings and paragraph*/
h1 {
  font-size: 40px;
  color: #ADEFD1FF;
}

h2 {
  font-size: 30px;
  color: #ADEFD1FF;
}

h3{
    font-size: 25px;
    color: #ADEFD1FF;
}

p {
  font-size: 17px;
}
/* end of css for font size heading and paragraph*/


body{
    background: #343148FF;
    font-weight: 500;
    margin: 0%;
} /*Background colour and font weight of the website*/

.heading{
    background-color: #343148FF;
    text-align: center;
    margin: 0%;
} /*CSS for the header of the website*/

#image{
    float: right;
    padding: 40px ;
}

.firstsection{
    text-align: left;
    text-align: justify;
    padding: 15px;
}

.secondsection{
    text-align: center;
    padding: 30px;
    border: 5px solid black;
}






